@model List<UserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>UserName</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@string.Join(" / ", user.Roles.ToList())</td>
                <td><a class="btn btn-secondary">Manage Roles</a></td>
            </tr>
        }
    </tbody>
</table>