@model List<UserViewModel>

@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m[0].Id)</th>
            <th>@Html.DisplayNameFor(m => m[0].UserName)</th>
            <th>@Html.DisplayNameFor(m => m[0].FirstName)</th>
            <th>@Html.DisplayNameFor(m => m[0].LastName)</th>
            <th>@Html.DisplayNameFor(m => m[0].Email)</th>
            <th>@Html.DisplayNameFor(m => m[0].Roles)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
        <tr>
            <td>@user.Id</td>
            <td>@user.UserName</td>
            <td>@user.FirstName</td>
            <td>@user.LastName</td>
            <td>@user.Email</td>
            <td>@string.Join(" / ", user.Roles.ToList())</td>
            <td><a class="btn btn-secondary">Manage Roles</a></td>
        </tr>
        }
    </tbody>
</table>