@model CalendarViewModel
@{
    ViewData["Title"] = "Calendar Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Resa = ViewBag.ReservationToCreate as Reservation;
}

<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css">
<h1>This is a test calendar</h1>
<div id="calendarTest"></div>

<div id="CreateForm" class="card">
    <div class="card-header">New booking</div>
    <form asp-controller="Reservations" asp-action="Create" class="card-body">
        <div class="form-group">
            <label asp-for="@Model.ReservationToCreate.Id" class="control-label"></label>
            <input asp-for="@Model.ReservationToCreate.Id" class="form-control" />
            <span asp-validation-for="@Model.ReservationToCreate.Id" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ReservationToCreate.StartingTime" class="control-label"></label>
            <input asp-for="@Model.ReservationToCreate.StartingTime" class="form-control" value="@DateTime.Now" />
            <span asp-validation-for="@Model.ReservationToCreate.StartingTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.ReservationToCreate.Duration" class="control-label"></label>
            <input asp-for="@Model.ReservationToCreate.Duration" class="form-control" value="@DateTime.Now" />
            <span asp-validation-for="@Model.ReservationToCreate.Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendarTest');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            /*Sets the header toolbar*/
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            /*Configure interaction when clicking on a date*/
            dateClick: function (info) {
                alert('clicked ' + info.dateStr);
            },
            /* Display events */
            events: @Html.Raw(Model.JSONData)
                /*[
                    {
                        title: 'test 1',
                        start: '2021-07-22T12:30:00Z',
                        end: '2021-07-22T13:00:00Z',
                        editable: true
                    },
                    {
                        title: 'test 2',
                        start: '2021-07-24T12:30:00Z',
                        end: '2021-07-24T14:30:00Z',
                        editable: false
                    }
            ]*/

        });

        calendar.render();
    });
</script>
